<!-- Main navigation -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header" >
        <nav role="navigation" class="main-nav text-center" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="menu cf">
                <div class="nav-wrapper">
                  <img id="logo" width="64" heigth="64" src="http://doc.jsfiddle.net/_downloads/jsfiddle-logo-white.png"> </img>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Cadastrar</a></li>
                    <li><a href="">Login <span class="new badge">4</span></a></li>
                    <li><a href=""></a></li>
                  </ul>
                </div>
            </ul>
        </nav>
    </div>
</header>
